.footer_founder {
  margin-top: 1700px;
}

.hero__contents_text_item_founder{
  text-align: left;
  margin-bottom: 50px;
}

.founer__link {
  text-decoration: none;
  color: white;
  background-color: #AEC5CE;
  padding: 10px 20px;
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.founer__link:hover{
  color: #AEC5CE;
  background-color: gray;
}

.founder__doctors {
  text-decoration: none;
  color: #AEC5CE;
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  background-color: #7F2941;
  padding: 10px 20px;
}

.founder__doctors:hover{
  color: white;
  background-color: #af5d74;
}
