.hero__inner {
  position: relative;
}

.hero__text {
  position: absolute;
  top: 200px;
  right: 200px;

}

.hero__heading {
  width: 500px;
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.hero__text>p {
  width: 550px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 44px;
  text-align: right;
  color: #FFFFFF;
}

.hero__text>button {
  width: 209px;
  padding: 15px;
  color: #7F2941;
  background: #AEC5CE;
  border: none;
  border-radius: 50px;
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 44px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 300px;
}

.hero__types {
  margin-top: 120px;
}

.hero__types {
  width: 100%;
  height: 100px;
  background-image: url('../../img/header-after-bg.png');
}

.surgery__types_img {
  background-image: url('../../img/surgary-types.png');
}

.hero__surgary_types {
  position: relative;
}

.hero__surgary_types>span {
  width: 270px;
  position: absolute;
  top: 400px;
  left: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01em;
  color: white;
}

.sugery__types_method {
  width: 100%;
  background-color: #AEC5CE;
}

.types__inner_item {
  width: 350px;
}

.sugery__types_method_text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #7F2941;
}

.types__heading {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: #7F2941;
  margin: 10px;
}

.types__line {
  display: block;
  width: 100px;
  height: 4px;
  background-color: #AEC5CE;
  margin: 10px;
}

.footer__types {
  margin-top: 1300px;
}

.surgery__type__item_heading {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #7F2941;
}