.our__inner {
  text-align: center;
  margin-top: 1100px;
  padding: 0px 100px;
  padding-bottom: 50px;
  background-color: #AEC5CE;
}

.our__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  margin-left: 0px;
}

.our__heading {
  font-family: 'Cormorant';
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #7F2941;
}